@inherits LayoutComponentBase

<!-- Main Layout of all the pages -->
<div class="wrapper">
    <!-- SIDEBAR STARTS HERE -->
    <div class="sidebar" id="sidebar">
        <h2>SPMS-OJT</h2>
        <ul>
            <li><a href="index.html"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li><a href="mytask.html"><i class="fas fa-solid fa-clipboard-list"></i> <span>My Tasks</span></a></li>
            <li><a href="taskrecord.html"><i class="fas fa-solid fa-list"></i> <span>Task Record</span></a></li>
            <li><a href="notes.html"><i class="fas fa-solid fa-book"></i> <span>Notes</span></a></li>
            <li id="log-c"><a href="../adminside/login.html"><i class="fas fa-solid fa-right-from-bracket"></i> <span>Log Out</span></a></li>
        </ul>
    </div>
    <!-- SIDEBAR ENDS HERE -->
    @Body
</div>