  <!-- SEARCH BAR AND BUTTONS STARTS HERE -->
<section class="admindb-s1">
    <div class="search-container">
        <form action="#">
            <input type="text" placeholder="Search coordinator" name="search">
            <button type="submit" class="search-button">Search</button>
        </form>
        <button type="button" class="add-student-button" onclick="location.href='add-coordinator.html';">+ Add New Coordinator</button>
    </div>
</section>
<!-- SEARCH BAR AND BUTTONS ENDS HERE -->
<!-- COORDINATOR SECTION STARTS HERE -->
<section class="admindb-s2">
    <div class="db-item">
        <div class="card">
            <img src="./css/images/Avatar-Profile-PNG-Picture.png" alt="Avatar" class="avatar">
            <h3>Draft, Mema Name</h3>
            <p>School</p>
            <p>College</p>
            <div>
                <button type="button" class="edit-coordinator-button" onclick="location.href='edit-coordinator.html';">Edit</button>
                <button type="button" class="del-coordinator-button" onclick="location.href='#';">Delete</button>
            </div>
        </div>
    </div>

    <div class="db-item">
        <div class="card">
            <img src="./css/images/Avatar-Profile-PNG-Picture.png" alt="Avatar" class="avatar">
            <h3>Draft, Mema Name</h3>
            <p>School</p>
            <p>College</p>
            <div>
                <button type="button" class="edit-coordinator-button" onclick="location.href='edit-coordinator.html';">Edit</button>
                <button type="button" class="del-coordinator-button" onclick="location.href='#';">Delete</button>
            </div>
        </div>
    </div>

    <div class="db-item">
        <div class="card">
            <img src="./css/images/Avatar-Profile-PNG-Picture.png" alt="Avatar" class="avatar">
            <h3>Draft, Mema Name</h3>
            <p>School</p>
            <p>College</p>
            <div>
                <button type="button" class="edit-coordinator-button" onclick="location.href='edit-coordinator.html';">Edit</button>
                <button type="button" class="del-coordinator-button" onclick="location.href='#';">Delete</button>
            </div>
        </div>
    </div>
</section>