/*ADMIN DASHBOARD SECTION 1 STARTS HERE*/
.wrapper .main_content .admindb-s1 {
    color: var(--dark-cyan);
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px;
}

.admindb-s1 img {
    width: 25%;
}

.admindb-s1 h1 {
    font-size: 2.5rem;
}

.admindb-s1 p {
    font-size: 1.5rem;
}

@media (max-width:1100px) {
    .admindb-s1 img {
        width: 35%;
    }
}

@media (max-width:768px) {
    .admindb-s1 img {
        width: 45%;
    }
}
/*ADMIN DASHBOARD SECTION 1 ENDS HERE*/

/*ADMIN DASHBOARD SECTION 2 STARTS HERE*/
.admindb-s2 {
    margin: 50px 30px 40px 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1rem;
    align-items: center;
}

    .admindb-s2 .db-item {
        text-align: center;
        border: 2px solid var(--dark-cyan);
        background-color: var(--white);
        border-radius: 15px;
        padding: 5rem;
        cursor: pointer;
    }

        .admindb-s2 .db-item h3 {
            font-size: 2rem;
            color: var(--dark-cyan);
        }

        .admindb-s2 .db-item h4 {
            font-size: 4.5rem;
            font-weight: 900;
            color: var(--dark-cyan);
        }

@media (max-width:1100px) {
    .admindb-s2 {
        grid-template-columns: 1fr;
    }

        .admindb-s2 .db-item {
            padding: 3rem;
            cursor: pointer;
        }
}
/*ADMIN DASHBOARD SECTION 2 ENDS HERE*/
