

<section class="admindb-s1">
    <div>
        <h1>Welcome back, Admin!</h1>
        <p>Here's an overview of your account</p>
    </div>
    <img src="./css/images/admin-dashboard.svg">
</section>
<!-- DASHBOARD PAGE SECTION 1 ENDS HERE -->
<!-- DASHBOARD PAGE SECTION 2 STARTS HERE -->
<section class="admindb-s2">
    <div class="db-item">
        <a href="trainee.html">
            <h3>Trainee</h3>
            <h4>50</h4>
        </a>
    </div>

    <div class="db-item">
        <a href="coordinator.html">
            <h3>Coordinator</h3>
            <h4>6</h4>
        </a>
    </div>

    <div class="db-item">
        <a href="organization.html">
            <h3>Organization</h3>
            <h4>15</h4>
        </a>
    </div>
</section>
<!-- DASHBOARD PAGE SECTION 2 ENDS HERE -->
<!-- DASHBOARD PAGE CONTENT ENDS HERE -->

@code {
   
}
