@inherits LayoutComponentBase

<div class="wrapper">
    <!-- SIDEBAR STARTS HERE -->
    <div class="sidebar" id="sidebar">
        <h2>SPMS-OJT</h2>
        <ul>
            <li><a class="active" href="/admin/dashboard"><i class="fas fa-home"></i> <span>Dashboard</span></a></li>
            <li><a href="/admin/coordinator"><i class="fas fa-solid fa-id-badge"></i> <span>Coordinator</span></a></li>
            <li><a href="/admin/student"><i class="fas fa-solid fa-users"></i> <span>Students</span></a></li>
            <li><a href="/admin/trainee"><i class="fas fa-solid fa-id-badge"></i> <span>Trainees</span></a></li>
            <li><a href="/admin/organization"><i class="fas fa-solid fa-building"></i> <span>Organization</span></a></li>
            <li id="log"><a href="#"><i class="fas fa-solid fa-right-from-bracket"></i> <span>Log Out</span></a></li>
        </ul>
    </div>
    <!-- SIDEBAR ENDS HERE -->
    @Body
</div>

@code {

}
