:root {
    --white: #ffffff;
    --black: #000000;
    --dark-cyan: #105157;
    --casal: #3E5154;
    --light-gray: rgba(163, 166, 192, 0.8);
    --off-white: rgba(255, 255, 255, 0.79);
    --button: rgba(0, 0, 0, 0.5);
    --submithover: #45FCB1;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}


* {
    box-sizing: border-box;
}

.content {
    margin: 50px;
    background: var(--white);
    border: 1px solid var(--black);
    border-radius: 15px;
    padding: 35px 45px;
}


    /*Form title*/
    .content h3 {
        margin-top: 30px;
        color: var(--dark-cyan);
    }

/* Form list*/
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    background: var(--off-white);
    font-size: 23px;
}

input[type=datetime-local] {
    width: 100%;
    padding: 10px 20px;
    margin: 5px 0;
    box-sizing: border-box;
    border: 1px solid var(--light-gray);
    border-radius: 10px;
    background: var(--off-white);
    font-size: 23px;
}

.row {
    display: flex;
}

    .row .forbutton {
        margin-left: auto;
    }

/* Create two equal columns that sits next to each other */
.column {
    flex: 50%;
    padding: 10px;
    color: var(--casal);
    font-weight: 500;
}


label {
    margin: 10px;
    color: var(--casal);
    font-size: 23px;
}

/*Button*/
.forbutton input[type="submit"] {
    background: var(--dark-cyan);
    color: var(--white);
    border: none;
    border-radius: 12px;
    font-size: 23px;
}

    .forbutton input[type="submit"]:hover {
        background-color: var(--submithover);
        color: var(--dark-cyan);
    }

.forbutton input[type="button"] {
    background: var(--white);
    color: var(--dark-cyan);
    border: 1px solid var(--dark-cyan);
    border-radius: 12px;
    font-size: 23px;
}

    .forbutton input[type="button"]:hover {
        background-color: var(--button);
        color: var(--white);
    }

.forbutton input {
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 800;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 100px 100px;
    cursor: pointer;
    border: 1px solid var(--dark-cyan);
    height: 100px;
    width: 100px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
}

@media (max-width:768px), (max-width:1200px) {
    .row {
        display: block;
    }
}
