@page "/"

<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <div class="fas fa-bars" id="menu-btn"></div>
        <div><i class="fas fa-home"></i> Dashboard</div>
        <a href="profile.html"><i class="fas fa-solid fa-user" id="profile"></i></a>
    </div>
</div>