@page "/admin"
@page "/admin/{Url}"
@layout AdminLayout
@inject IUserService UserService

 <!-- Type /admin to open this file in browser-->

<!-- HEADER STARTS HERE -->
<div class="main_content">
    <div class="header">
        <!-- Display Different Header depending on the url after admin/ -->
        @if (Url == null || Url == "dashboard")
        {
            <div><i class="fas fa-home"></i> Dashboard</div>
            <a href="profile.html"><i class="fas fa-solid fa-user" id="profile"></i></a>
        }
        else if (Url == "coordinator")
        {
            <div><i class="fas fa-solid fa-id-badge"></i>Coordinator</div>
            <a href="profile.html"><i class="fas fa-solid fa-user" id="profile"></i></a>
        }
        else if (Url == "trainee")
        {
            <div><i class="fas fa-solid fa-id-badge"></i>Trainees</div>
            <a href="profile.html"><i class="fas fa-solid fa-user" id="profile"></i></a>
        }
        else if (Url == "organization")
        {
            <div><i class="fas fa-solid fa-building"></i>Organization</div>
            <a href="profile.html"><i class="fas fa-solid fa-user" id="profile"></i></a>
        }
        else if (Url == "student")
        {
            <div><i class="fas fa-solid fa-users"></i>Students</div>
            <a href="#"><i class="fas fa-solid fa-user" id="profile"></i></a>
        }
        else if (Url == "addstudent")
        {
            <div><i class="fas fa-solid fa-users"></i>Add Student</div>
            <a href="#"><i class="fas fa-solid fa-user" id="profile"></i></a>
        }
    </div>
    <!-- HEADER ENDS HERE -->
    <!-- Display Different component depending on the url after admin/ -->
    @if (Url == null || Url == "dashboard")
    {
        <!-- A Shared Component. 
            Path File: 
                SPMSOJT.Client
                    -Shared
                        -Admin Side -->
        <ADashboard />
    }
    else if (Url == "coordinator")
    {
        <ACoordinator />
    }
    else if (Url == "trainee")
    {
        <ATrainees />
    }
    else if (Url == "organization")
    {
        <AOrganization />
    }
    else if (Url == "student")
    {
        <AStudents AllStudents="AllStudents" />
    }
    else if (Url == "addstudent")
    {
        <AStudentForm />
    }
</div>


@code {
    //Get the url before after the admin/
    [Parameter]
    public string Url { get; set; } = null;

    //Create new instance of a list of user in this page
    List<User> AllStudents = new List<User>();

    //Get all student first before loading the page
    protected async override Task OnInitializedAsync()
    {
        //Get all student
        //use Task and async func for the REST API
        //Inject the IUserService first at the top to use the UserService class
        AllStudents = await UserService.GetAllUser();
    }
}
